.landing-page {
  /* background-color: greenyellow; */
  width: 100%;
}

.landing-page-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.solid-thick {
  border-top: 3px solid black;
  width: 95%;
}

.solid-thin {
  border-top: 1px solid black;
  width: 95%;
}