.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  display: inline;
}

.login-submit-container {
  padding-top: 1rem;
}

.submit-button {
  background-color: #5f5f5f;
  border: none;
  color: black;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.submit-button:hover {
  color: white;
}